body {
  background: #202020;
  color: #fff;
  padding-left: 2em;
}

button, input{
  border-radius: 15px 15px;

}

input{
  padding-left: 0.5em;

}

form{
    border: solid 1px white;
    width: 23em;
    padding: 1em;
}

input[type="checkbox"] {
    width:25px;
    height:25px;

}

hr{
    width: 20em;
    float: left;
}





